*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start loader */
.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(45deg, rgb(238, 20, 64), rgb(16, 16, 97),#1b121b);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease;    
}
.active{
    display: none;
    transition: all 1s ease;
}
/* end loader */
a{
    text-decoration: none;
}
.hero{
    display: none;
}

.actve_hero{
    display: flex;
    transition: all 1s;
}


html{
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero{
    background-image: url(./img/unsplash\ 2.avif);
    background-size: cover;
    background-position:top center;
    position: relative;
}
#hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: -7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 2s;
}
#hover h1:nth-child(1){
    animation-delay:1.5s;
}
#hover h1:nth-child(2){
    animation-delay:2.5s;
}
#hover h1:nth-child(3){
    animation-delay:3.5s;
}
#hero h1 span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: crimson;
    animation: text_reveal_box .5s ease;
    animation-delay: 1.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color:crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .8s esse;
    transition-property:background-color,color ;
}
#hero .cta:hover{
    color: white;
    background-color: crimson;
}


@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}